body {
    background-color: lightblue; 
    color: maroon;
    font-family: Arial;
    margin: 0px;

}

header {
        background: linear-gradient(to right bottom, rgb(255, 255, 0), red, brown, black);
        color: rgb(32, 17, 196);
        padding: 10px; 
        font-size: 16pt;

}

header:hover {
    background: linear-gradient( blue, rgb(6, 6, 98) ,rgb(108, 13, 155),rgb(155, 13, 127));
    color: black; 
    padding: 10px; 
    font-size: 20pt;  
    font-weight: bold;
    transition: 0.1s;
}

main {
    margin: 10px 20px;
}

footer {
    background-color: black;
    color: lightgreen; 
    height: 40px;
    font-size: 16pt;  
    text-align: right;
    transition: 1.5s 1.5s;
    transition-delay: 1.5s;
    width: 100%;
    padding-right: 40px;
    bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
    margin-top: 50px;
}

footer:visited {
    background-color: black;
    color: lightgreen; 
    height: 40px;
    font-size: 16pt;  
    text-align: right;
    transition: 1.5s 1.5s;
    transition-delay: 1.5s;
    width: 100%;
    padding-right: 40px;
    bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
    margin-top: 50px;
}

footer:hover {
    background-color: rgb(194, 210, 20);
    color: black; 
    padding: 10px; 
    font-size: 20pt;  
    text-align: right;
    font-weight: bold;
    transition: 0.3s;
    padding-right: 100px; 
}

a {
    text-decoration: none;
    color: green;
    transition: 1.5s 1.5s;
    transition-delay: 1.5s;
}

a:visited {
    color: yellow;

}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold; 
    text-shadow: 5px 5px 6px white;
    transition: 0.3s
}

a:active {
    color: pink;
    background-color: green;
}
