body {
    background-color: lightblue; 
    color: maroon;
    font-family: Arial;
    margin: 0px;

}

header {
    background: linear-gradient(to right bottom, yellow, red, brown, black); 
        color: lightgreen; 
        padding: 10px; 
        font-size: 16pt;

}

footer {background-color: black;
        color: lightgreen; 
        padding: 10px; 
        font-size: 16pt;  
        text-align: right;
}

a {
    text-decoration: none;
    color: green;
    transition: 1.5s 1.5s;
    transition-delay: 1.5s;
}

a:visited {
    color: yellow;

}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold; 
    text-shadow: 5px 5px 6px white;
    transition: 0.3s
}

a:active {
    color: pink;
    background-color: green;
}
